<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'"
      [opened]="(isHandset$ | async) === false" style="background-color: rgb(240, 240, 236);">
    <mat-toolbar style="background-color: lightseagreen">Menu</mat-toolbar>
    <mat-nav-list>
      <!-- for admin -->
      <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&AdminRole" routerLink="/dashboard">Dashboard</a>
      <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&AdminRole" routerLink="/viewDrug">View All Drugs</a>
      <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&AdminRole" routerLink="/addDrugs">Add Drugs</a>
       <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&AdminRole" routerLink="/suppliers">Add Supplier</a>
       <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&AdminRole" routerLink="/viewSupplier">View Supplier</a>
      <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&AdminRole" routerLink="/viewAllUsers" class="nav-link">Users</a>

      <!-- for doctor -->
      <a mat-list-item  *ngIf="loginService.isUserLoggedIn()&&DoctorRole" [routerLink]="['/viewProfile',users.userId]" class="nav-link">My Profile</a>
      <a mat-list-item *ngIf="loginService.isUserLoggedIn()&&DoctorRole"  routerLink="/products">Products</a>

      <a mat-list-item *ngIf="!loginService.isUserLoggedIn()"  href="/login">Log in</a>
      <a mat-list-item *ngIf="!loginService.isUserLoggedIn()" routerLink="/register">Sign up</a>
      <a mat-list-item *ngIf="loginService.isUserLoggedIn()" routerLink="/logout">LogOut</a>
     
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary" style="background-color: lightseagreen">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      
     <div><span >pharmacy-management-system</span></div>
   
     <a *ngIf="loginService.isUserLoggedIn()&&DoctorRole" routerLink="/cart" style="margin-left:auto;"> 
        <i style="font-size:20px;color:rgb(255, 255, 255);"class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-success">{{totalItem}}</div>
       
      </a>
   
 
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
 
</mat-sidenav-container>
